* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
img{
    height: auto;
    max-width: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    background-image: url("asset/img/download-bg");
    color: var(--primary-color);
  }
header{
    border: none;
    padding-top: 2vw ;
    width: 100%;
    position: fixed;
    background-color: rgb(100,92,255);
    box-shadow: none;
    z-index: 999;
    top: 0;
    left: 0;
}
.background{
    background-color:rgb(100,92,254);
    background-image: url("https://theme-land.com/sapp/demo/assets/img/bg/download-bg.jpg");
}
.container{
    width: 100%;
    margin: auto;
    padding: 0 12vw;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu-inner {
    overflow: hidden;
    display: flex;
}

.menu-inner a {
    font-size: 16px;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    
}
.dropdown {
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 15px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown:hover .dropbtn {
    background-color: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content  a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.small-dropdown{
    text-transform: capitalize;
    display: none;
    position: absolute;
    left: 100%;
    margin-top: -45px;
    background-color: #f9f9f9;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.content:hover .small-dropdown{
    display: block;
}
.home{

    width: 100%;
    background: url(assets/img/welcome-bg.jpg)  no-repeat center scroll ; 
    height: 800px;
    z-index: 1;
}
.purple-block{
    background-color: rgb(100,92,254);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.95;
    height: 800px;
}
.row{
    padding-top: 5vw ;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}.align-items-center {
    align-items: center;
}
.welcome-text{
    max-width: 50%;
    flex: 0 0 50%;
}
.welcome{
    padding: 0px 15px;
    margin-top: 70px;
}
.welcome h1{
    padding-top: 3vw;
    font-size: 67px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.welcome p{
    font-size: 18px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 10px 0px;
}
.welcome .btn{
    margin-top: 30px;
    display: flex;
    max-width: 100px;
    justify-content: space-between;
}
.welcome .btn a{
    display: block;
    margin-left: 15px;
    margin-right: auto
}
.welcome .btn a img{
    width: 190px;
}
.welcome .note{
    margin-top: 1rem;
    font-size: 17px;
    font-style: italic;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 10px 0px;
}
    
.welcome-img {
    max-width: 50%;
    flex: 0 0 50%;
}
.welcome-thumb{
    margin-top: 70px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.welcome-thumb img{
    position: absolute;
    max-width: 100%;
    height: auto;
    z-index: 100;
    animation: myAnimation 2s ease-out 1;
}
@keyframes myAnimation {
    from {
        right: -200px;
    }

    to {
        right: 0px;
    }
}
.curve{
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: -98px;
    z-index: 1;
}
.curve-test {
    position: absolute;
    margin-top: -100px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.curve-test svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 167px;
}

.curve-test .shape-fill {
    fill: white;
}

.counter-area{
    padding: 50px 0;
    position: relative;
}
.row-justify-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.counter{
    border-left: 1px solid #eaeaea;
    max-width: 25%;
    flex: 0 0 25%;
    padding: 0px 15px;
    margin-top: 30px;
    text-align: center;
}
.row-justify-content :first-child{
    border-left: none;
}
.counter-inner{
    padding: 0;
}
.counter-item{
    padding-bottom: 1rem;
}
.counter-item .number{
    font-size: 3rem;
    font-weight: 700;
    color: #6c66ff;
}
.counter h5{
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.feature{
    padding: 100px 0;
    position: relative;
}
.feature .row-justify-content .content{
    max-width: 66.666666667%;
    flex: 0 0 66.666666667%;
}
.feature .row-justify-content .content .content-inner{
    padding-bottom: 80px;
    justify-content: center;
    text-align: center;
}
.content-heading{
    display: inline-block;
    background-color: white;
    border: 2px solid whitesmoke;
    border-radius: 50rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 550;
}
.content-heading .text-primary{
    color: #6c66ff;
}
.content-inner h2{
    position: relative;
    line-height: 1.3;
    font-size: 3rem;
    font-weight: 600;
    color: black;
    margin-bottom: 1rem;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
.content-inner h2::after{
    position: absolute;
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #6c66ff;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px; 
}
.content-inner p{
    display: block!important;
    font-size: 18px;
    font-weight: 300;
    color: black;
    margin-top: 3rem;
}
.row-feature{
    flex:0 0 33.333333333%;
    max-width: 33.333333333%;
    padding: 0px 15px;
}
.row-feature-inner{
    position: relative;
    box-shadow: 0px 1px 3px 0px;
    border-radius: 1.5rem;
    text-align: center;
    padding: 3rem;
}
.row-feature-inner:hover{
    box-shadow: 0px 1px 3px 0px;
    border-radius: 1.5rem;
    text-align: center;
    padding: 3rem;
    translate: 0 -0.5rem;
}
.row-feature-inner-img{
    margin-bottom: 1rem;
}
.row-feature-inner-img img{
    width: 3rem;
    height: 3rem;
}
.row-feature-inner-content h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    margin-bottom: 1rem;
}
.service{
    background: #f6f9fe;
    padding: 100px 0;
    position: relative;
}
.justify-content-between{
    justify-content: space-between;
}
.service-text{
    max-width: 50%;
    flex: 0 0 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.service-text-inner{
    padding: 0;
}
.service-text-inner h2{
    font-size: 3rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}
.service-list{
    margin: 0;
    padding: 0;
}
.service-media{
    display: flex;
    justify-content: space-between;

}
.service-list li{
    list-style: none;
    font-size: 18px;
    font-weight: 300;
    color: black;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 0;

}
.awesome-icon{
    text-align: center;
    position: absolute;
    width: 54px;
    height: 54px;
    background-color:white;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7c4fe0;
    font-size: 1.5rem;
    font-weight: 600;
}
button{
    background-color: #7c4fe0;
    border: none;
    border-radius: 4px;
    padding: 18px 30px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
}
button:hover{
    cursor: pointer;
}
.service-img{
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.service-img-inner{
    margin-left: auto;
    margin-right: auto;
}
.service-img-inner img{
    width: 100%;
    height: auto;
}
.discover{
    padding: 100px 0;
    position: relative;
}
ul li{
    list-style: none;
}
.discover-img{
    max-width: 50%;
    flex: 0 0 50%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
img{
    width: 100%;
    height: auto;
}
.discover-content{
    max-width: 50%;
    flex: 0 0 50%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
.discover-content-inner{
    padding: 0;
}
.discover-content-inner h2{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
    color: rgb(29, 28, 28);
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}
.discover-content-inner p{
    font-size: 18px;
    font-weight: 300;
    color: black;
    margin-bottom: 1rem;
    line-height: 1.3;
}
.discover-content-inner ul{
    font-size: 18px;
        font-weight: 300;
        color: black;
        margin-bottom: 1rem;
        line-height: 1.3;
}
.discover-content-inner ul li{
    line-height: 1.3;
    padding: 0.5rem 0;
}
.discover-content-inner ul li .media .tick-icon{ 
    color: #6c66ff;
}
.icon{
    display: flex;
    flex: auto;
}
.icon .awesome-icon{
    position: unset;
}
.work-area{
    padding: 100px 0;
    position: relative;
}
.work-area::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #645cfe;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.95;
}
.justify-content-center{
    justify-content: center !important;
}
.work-area-heading{
    flex: 0 0 66.666667%;
    max-width: 68.666667%;
    padding: 0 15px;
    text-align: center;
    color: white;
}
.work-area-heading h2{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}
.work-area-heading p{
    font-size: 1rem;
    font-weight: 300;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    line-height: 1.3;
}
.installing-step-container{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
}
.installing-step-inner::after{
    position: absolute;
    content: '\f054';
    font-size: 45px;
    font-weight: 900;
    color: var(--white-color);
    font-family: 'Font Awesome 5 Free';
    top: 50%;
    right: 0;
    margin-right: -30px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.installing-step-inner,.installing-step-inner-no-after{
    padding: 1rem;
    text-align: center;
    color: white;
    position: relative;
}
.installing-step-inner img,.installing-step-inner-no-after img{
    width: 4rem;
    height: 4rem;
}
.installing-step-inner h3, .installing-step-inner-no-after h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.installing-step-inner p, .installing-step-inner-no-after p{
    font-size: 1rem;
    font-weight: 300;
    color: white;
    margin-top: 1.5rem;
    line-height: 1.3;
}
.mySlides {
    display: none;
    justify-content: center;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 30%;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.active {
    background-color: #6c66ff;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}   

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
